

.header{
    display: flex;
    justify-content: space-between;
    border: 1px  gray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   
    
    
       
}

.name{
    padding-left: 15px;
    font-weight: 800;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 40px;
    margin: 10px 0;
    cursor: pointer;
}

.container{
    padding-top: 102px;

}


.logo{
    width: 100px;
}

.nav-item{
    display: flex;
    list-style-type: none;
    
    
 li{
    padding: 10px 30px;
    font-size: 1.5rem;
 }
 :hover{
    cursor: pointer;
 }
}

.search{
    padding: 20px;
    margin-top: 10px; 
    margin-left: 2.5rem;
}

.ress{
    width: 200px;
    height: 350px;
    padding: 5px;
    margin: 10px;

    h3{
     
        bottom: 20px;
        position: relative;  
    }

    h5{
        position: relative;
        bottom: 30px;
    }
    
}

.ress:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-img{
    width: 100%;
    
}

.ress h4{
    position: relative;
    bottom: 50px;

}

.place{
    top: -4rem;
    
}

.res{
    padding-top: 1rem;
    padding-left: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 350px;
    padding: 5px;
    margin: 10px;
    background-color: #f0f0f0;
}

.loginbtn{
    padding: 10px 20px;
    background-color: #DAA550;
    color: black;
    border: none;
    font-size: 1.3rem;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0,0.2);
    cursor: pointer;
    border-radius: 5px;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.filter-btn{
    width: 20%;
    max-width: 200px;
    padding: 10px 10px;
    border: none; 
    box-shadow: 0 0 6px rgba(0, 0, 0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #DAA550;
    background-image: radial-gradient(circle, #2f3605, #332503, #2c1809, #1d0d0b, #000000);
    cursor: pointer;
    
}

.searchbtn{
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0,0.2);
    cursor: pointer;
    border-radius: 5px;
}

.searchName{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none; 
    box-shadow: 0 0 6px rgba(0, 0, 0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    
}

.cart{
    padding-top: 102px;
}

.contact{
    padding-top: 102px;
}

.about{
    padding-top: 102px;
}

.menuapp{
    padding-top: 102px;
}

.user-card{
   border: 1px solid black;
   padding: 10px;
}






